version: '3.8'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: test_db
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test_user"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: test_db
      DB_USER: test_user
      DB_PASSWORD: test_password
    command: pytest -v --alluredir=allure-results
